<%= form_for :session, url: session_path(format: :json), html: { id: 'sign_in_form' } do |form| %>
<div class="validation-error hidden">
</div>
<div class="text-field">
  <%= form.text_field :email, type: 'email', placeholder: "Email" %>
</div>

<div class="password-field">
  <%= form.password_field :password, placeholder: "Password" %>
</div>

<div class="submit-field">
  <%= form.submit class: "white-button", value: "Log In", data: { disable_with: false } %>
</div>

<div class="other-links">
  <% if Clearance.configuration.allow_sign_up? %>
  <%= link_to t(".sign_up"), sign_up_path %>
  <% end %>
  <%= link_to t(".forgot_password"), new_password_path %>
</div>
<% end %>

<script>
  $(function() {
    $("#sign_in_form").submit(function(evt) {
      evt.preventDefault();
      $(".validation-error").hide();
      var data = $( this ).serialize();
      var url = $(this).attr('action');
      $.post(url, data, function(response) {
        console.log("response: ", response);
        if( response.error !== undefined ) {
          $(".validation-error").text(response.error);
          $(".validation-error").show();
        } else {
          var password = $("#session_password").val();
          window.keyTools.applyEncryptedMnemonic(response.encrypted_mnemonic, password);
          window.location.href = response.redirect;
        }
      });
    });
  });
</script>
