<!DOCTYPE html>
<html>
  <head>
    <title>BotchainExampleService</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'pages/favicon' %>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,600,700" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= js_config %>
  </head>

  <body>
    <div class="container-fluid app-container">
      <div id="app"></div>
      <%= yield %>
      <div class="footer">
      </div>
      <footer>
        Copyright © 2018, Talla, Inc.
      </footer>
    </div>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
