<!DOCTYPE html>
<html>
  <head>
    <title>BotchainExampleService</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <%= link_to "Botchain", root_path, class: "logo" %>
      <%= link_to "Sign Up", sign_up_path %>
      <%= link_to "Login", sign_in_path %>
    </nav>
    <%= yield %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
